<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "meta" }}
	<title>Home</title>
</head>
<body class="flex flex-col h-screen">
	{{ template "header" . }}
	<main class="flex flex-col justify-center items-center grow bg-slate-600">
		<div class="flex flex-col justify-center items-center gap-5">
			{{ range .Products }}
				<div class="flex gap-5">
					<span class="text-white">{{ .Name }}</span>
					<span class="text-white">{{ .Price }}</span>
					<button
						_="on htmx:afterRequest if event.detail.successful put parseInt(#cart-count.innerHTML) + 1 into #cart-count.innerHTML else window.alert('error adding product to cart.')"
						hx-swap="none" 
						hx-post="/api/cart/add/{{.Id}}"
					>
						+
					</button>
				</div>
			{{ end }}
		</div>
		<button class="px-10 py-5 bg-primary text-white mt-5" _="on click toggle .text-primary on #header-title">
				CLICK ME TO TOGGLE A CLASS WITH HYPERSCRIPT
		</button>
	</main>
</body>
<script src="/static/app.js"></script>
</html>